<html>
<head>
    <title>Edit Employee Form</title>
    {% load static %}
<link  href ="{% static 'src/styles.css' %}" rel="stylesheet" />
</head>

<body>
<div class="flex items-center justify-center p-12">

    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="mx-auto w-full max-w-[550px] bg-white">
                <h1 class="text-2xl text-center font-extrabold text-gray-900 dark:text-white md:text-3xl lg:text-3xl">Edit Employee</h1>
        <form action="{% url 'edit' emp_data.id %}" method="post">
            {% csrf_token %}
            <div class="mb-5">
                <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
                    Full Name
                </label>
                <input type="text" name="fullname" id="name" placeholder="Full Name" value="{{emp_data.fullname}}"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            <div class="mb-5">
                <label for="email" class="mb-3 block text-base font-medium text-[#07074D]">
                    Address
                </label>
                <input type="text" name="address" value="{{emp_data.address}}" id="email" placeholder="example@domain.com"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            <div class="mb-5">
                <label for="email" class="mb-3 block text-base font-medium text-[#07074D]">
                    Email Address
                </label>
                <input type="email" name="email" id="email" value="{{emp_data.email}}" placeholder="example@domain.com"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            <div class="mb-5">
                <label for="subject" class="mb-3 block text-base font-medium text-[#07074D]">
                    Salary
                </label>
                <input type="text" name="salary" value="{{emp_data.salary}}" id="subject" placeholder="Enter Salary"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            <div class="mb-5">
                <label for="subject" class="mb-3 block text-base font-medium text-[#07074D]">
                    Phone
                </label>
                <input type="text" name="phone" id="subject" value="{{emp_data.phone}}" placeholder="Enter Salary"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
           
            <div>
                <button type="submit"
                    class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none">
                    Submit
                </button>
            </div>
        </form>
       

    </div>

</div>
</body>
</html>
